body{
    background-color: #f7eee2;
}
h1 {
    text-align: center;
}

form {
    text-align: center;
}

.function {
    text-align: left;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 8px;
    padding: 5px;
}

button {
    padding: 3px;
    margin-top: 12px;
    margin-left: 10px;
    background-color: rgb(207, 176, 235);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* Header Part */
#header {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
}

#navLeftContainer {
    display: flex;
    align-items: center;
}

#title {
    font-size: 14px;
    font-weight: bold;
}

#subtitle {
    font-weight: normal;
    font-size: 10px;
    text-align: center;

}

.navItems {
    text-decoration: none;
    color: purple;
    font-weight: bold;
    margin: 2px;
}

#navRightContainer {
    display: flex;
    align-items: center;
}