<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Text Analyzer</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!-- Header Part -->
    <nav id="header">
        <div id="navLeftContainer">
            <div id="title">Text Analyzer<br>
                <div id="subtitle"> Analyze Text in a Click </div>
            </div>
        </div>

        <div id="navRightContainer">
            <div class="navItems"><a class="navItems" href="/">Home</a></div>
            <div class="navItems">|</div>
            <div class="navItems"><a class="navItems" href="/about">About Us</a></div>
            <div class="navItems">|</div>
            <div class="navItems"><a class="navItems" href="/exercise1">Exercise-1</a></div>
        </div>
    </nav>
    <!-- ---------------------- -->


    <h1>Text Analyzer - Analyzing text and do functions</h1>
    <br>
    <form action="/analyze" method='post'>{% csrf_token %}
        <textarea name="text" placeholder="Enter Your text here..."
            style='width:80%; height:150px; font-size:20px'></textarea><br>
        <div class="function">
            <input type="radio" name="analyze" value="removePunc">Remove Punctuations <br>
            <input type="radio" name="analyze" value="capiFirst">Capitalize 1st letter <br>
            <input type="radio" name="analyze" value="capiAll">Capitalize all <br>
            <input type="radio" name="analyze" value="lowerAll">Lowercase all <br>
            <button type="submit">Analyze Text</button>
        </div>
    </form>
</body>

</html>